@import "@/styles/mixins";

.promo {
  margin: 0 0 rem(80);
  font-size: rem(20);

  h5 {
    line-height: 1.5;
    font-weight: normal;
  }
}

.text {
  font-size: rem(72);
  font-weight: 700;
  display: block;
  padding-bottom: rem(10);
  margin-bottom: rem(35);
  padding-left: rem(50);
  position: relative;
  line-height: 1.1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: rem(15);
    bottom: rem(20);
    left: 0;
    width: rem(10);
    border-radius: 20px;
    background: $primary;
  }

  i {
    font-style: normal;
    border-bottom: rem(7) solid $dark;
  }

  @media (max-width: 820px) {
    font-size: rem(54);
  }

  background: linear-gradient(45deg, $blue 20%, $black 20%, $black 80%, $blue 80%);
  background-size: 200% auto;
  background-position: -145%;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear;
  animation-iteration-count: 1;
  @keyframes shine {
    to {
      background-position: -335% center;
    }
  }
}

// dark theme
[data-theme='dark'] {
  .text {
    background: linear-gradient(45deg, $blue 20%, $white 20%, $white 80%, $blue 80%);
    background-size: 200% auto;
    background-position: -145%;

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 1s linear;
    animation-iteration-count: 1;
    @keyframes shine {
      to {
        background-position: -335% center;
      }
    }
  }
}