@import "@/styles/mixins";

.menu {
  margin-left: rem(-20);
  margin-bottom: rem(50);

  a {
    display: inline-block;
    padding: rem(6) rem(20);
    border-radius: rem(100);
    margin-right: rem(5);
    color: $primary;

    &.menuActive {
      font-weight: 900;
      background: $dark;
      color: $white !important;

      span {
        border-color: transparent;
      }
    }
  }

  @media (max-width: $lg-max-width) {
    margin-left: 0;

    a {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.breakdown {
  display: flex;

  &Blue {
    background: $primary !important;
  }

  &Red {
    background: $danger !important;
  }

  div {
    height: rem(80);
    padding: rem(15);
    background: $success;
    margin-right: rem(20);

    &:last-child {
      margin-right: 0;
    }
  }
}

.qr {
  width: rem(160);
  flex-shrink: 0;
  // margin-right: rem(30);
  margin-bottom: rem(20);

  canvas {
    width: rem(160) !important;
    height: rem(160) !important;
  }
}

.supply {
  color: $black;
  font-size: rem(36);

  @media (max-width: 640px) {
    font-size: rem(28);
  }

  &Large {
    font-size: rem(92);
    line-height: 1.2;
    margin-bottom: rem(10);

    @media (max-width: 1080px) {
      font-size: rem(64);
    }

    @media (max-width: 640px) {
      font-size: rem(36);
    }
  }
}

.chart {
  margin-top: rem(30);
  padding: 0 rem(50);
  // background: $white;
  // border-left: 7px solid $blue !important;
  border-radius: 12px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(9);
    border-radius: 20px;
    background: $dark;
  }
}

.controls {
  padding-top: rem(40);
  border-top: 1px solid $border;
}

.item {
  position: relative;
  margin-bottom: rem(60);

  &Outer {
    padding-left: rem(50);
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: rem(9);
      border-radius: 20px;
      background: $dark;
    }

    @media (max-width: $sm-max-width) {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.point {
  height: rem(60);
  width: rem(60);
  color: $dark;
  border-radius: 80px;
  margin-left: rem(20);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(36);
  border: 5px solid $dark;
}
