@import "@/styles/mixins";

.line {
  background: $success;
  color: $dark;

  :global(.ray__block) {
    display: flex;
    justify-content: center;

    @media (max-width: $lg-max-width) {
      flex-direction: column;

      .item {
        border: none;
        border-top: 1px solid $dark;
        width: 100%;

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

.item {
  height: rem(100);
  border-left: 1px solid $dark;
  display: flex;
  padding: 0 rem(30);
  align-items: center;
  flex-direction: row;
  width: 33.3%;

  &:first-child {
    border-left: none;
  }

  &Title {
    width: rem(120);
    line-height: 1;
  }

  &Value {
    margin-right: rem(20);
    font-size: rem(52);
    font-weight: 700;
  }
}

// dark theme
[data-theme="dark"] {
}
