@import "@/styles/mixins";

.item {
  display: block;
  border: 1px solid $border;
  border-radius: rem(20);
  margin-bottom: rem(20);
  position: relative;
  padding: rem(20);

  &Ext {
    position: absolute;
    top: 50%;
    margin-top: rem(-12);
    right: rem(30);
    color: $dark;
    font-size: rem(24);
  }

  &Title {
    font-weight: 700;
    font-size: rem(21);
    color: $dark;

    small {
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      font-size: rem(12);
      opacity: 0.6;
    }
  }

  &:hover {
    border-color: $dark;
    background: $dark;

    svg {
      fill: $white;
    }

    .item {
      &Ext {
        color: $white;
      }

      &Title {
        color: $white;
      }
    }
  }

  svg {
    width: rem(40);
    height: rem(40);
    margin-right: rem(20);
  }
}
