@import "@/styles/mixins";

.sliderInner {
  position: relative;
  z-index: 2;
}

.slider {
  position: relative;
  z-index: 1;
  max-width: rem(1180);
  margin: 0 auto;
}

.item {
  display: block;
  width: rem(200);
  height: rem(365);
  background: $white;
  border-radius: 10px;
  padding: rem(15) rem(20);
  color: $dark;
  font-size: rem(16);
  font-weight: 700;

  &Outer {
    width: rem(220);
    padding-right: rem(20);
  }

  &Image {
    height: rem(220);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(20);
    user-select: none;
    pointer-events: none;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 12px;
    }
  }

  &Collection {
    width: rem(30);
    height: rem(30);
    border-radius: 20px;
    border: 1px solid $gray-4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-4;
    background: $white;

    + .itemCollection {
      margin-left: rem(-10);
    }
  }

  &Title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: rem(5);
  }

  &Link {
    pointer-events: all;
  }
}

// dark theme
[data-theme="dark"] {
  .item {
    background: $dark-gray-6;
    color: $white;

    &Collection {
      border-color: darken($dark-gray-3, 15%);
      background: $dark-gray-4;
      color: $dark-gray-2;
    }
  }
}
