@import "@/styles/mixins";

.container {
  background: $dark;
  padding: rem(20) 0;
  position: sticky;
  z-index: 5;
  top: 0;
}

.menu {
  display: flex;
  align-items: center;

  &Logo {
    width: rem(250);
  }

  &Items {
    margin: 0 auto;
    white-space: nowrap;

    a {
      margin: 0 rem(12);
      color: $white;
      display: inline-block;
      position: relative;

      &:after {
        position: absolute;
        display: none;
        content: "";
        width: rem(18);
        height: 3px;
        left: 50%;
        bottom: rem(-7);
        margin-left: rem(-9);
        background: $white;
      }

      &.linkActive,
      &:hover,
      &:focus {
        color: $gray-3;

        &:after {
          display: block;
          background: $gray-3;
        }
      }
    }
  }

  &Buttons {
    width: rem(250);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media (max-width: $md-max-width) {
    &Items {
      display: none;
    }

    &Buttons {
      margin-left: auto;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  svg {
    width: rem(36);
    height: rem(36);
    margin-right: rem(10);
  }

  span {
    font-weight: 900;
    font-size: rem(18);
    color: $white;
  }
}

.switchIcon {
  height: rem(20);
  width: rem(21);
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: rem(20);
  user-select: none;

  @media (max-width: $md-max-width) {
    &:before {
      top: rem(5) !important;
    }

    &:after {
      top: rem(14) !important;
    }
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: rem(6);
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background: $white;
    @include transition-fast();
  }

  &:after {
    top: rem(13);
  }

  &:hover {
    &:after,
    &:before {
      background: $gray-3;
    }
  }
}
