@import "@/styles/mixins";

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  margin-right: rem(30);
  margin-bottom: rem(5);
  white-space: nowrap;

  span {
    font-weight: 700;
  }
  
  &Icon {
    width: rem(44);
    height: rem(44);
    line-height: rem(46);
    text-align: center;
    margin-right: rem(10);
    background: $pastel-2;
    border-radius: 40px;
  }
}

.images {
  position: relative;
  overflow: hidden;

  :global(.container-fluid) {
    position: relative;
  }

  &Container {
    position: relative;
    height: 35vw;
    max-height: 340px !important;

    img {
      width: 60%;
      position: absolute;
      bottom: -60%;
      left: 0;
      border: 3px solid $dark;
      border-radius: 8px;
      // box-shadow: 0 0 50px -10px rgba(0,0,0,0.2), 0 0 5px 0 rgba(0,0,0,0.1);

      &:last-child {
        bottom: -30%;
        left: auto;
        right: 0;
      }
    }



    @media (max-width: $md-max-width) {
      height: rem(500);

      img {
        height: rem(400);
        width: auto;
        bottom: rem(-40);
        left: 0;

        &:last-child {
          bottom: rem(-150);
          left: auto;
          right: rem(-330);
        }
      }
    }
  }

  &Shadow {
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 30px;
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
  }
}

// dark theme
[data-theme='dark'] {
  .item {
    span {
      color: $white;
    }

    &Icon {
      color: $white;
      background: darken($dark-gray-3, 15%);
    }
  }
}