@import "@/styles/mixins";

.container {
  display: flex;
}

.sign {
  margin-left: rem(40);

  svg {
    width: rem(100);
    height: rem(100);
  }

  @media (max-width: $md-max-width) {
    margin-left: rem(20);

    svg {
      width: rem(80);
      height: rem(80);
    }
  }
}

.distibution {
  color: $gray-5;
  border: 1px solid $border;
  border-radius: 12px;
  padding: rem(30) rem(20) rem(15);

  strong {
    color: $dark;
  }

  @media (max-width: $sm-max-width) {
    padding-top: rem(30);
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}

.chart {
  border: 1px solid $border;
  border-radius: 12px;
  padding: rem(30) rem(20) rem(50);
  margin-bottom: rem(30);
}

// dark theme
[data-theme='dark'] {
  .sign {
    svg {
      path {
        fill: $white;
      }
    }
  }

  .distibution {
    color: lighten($dark-gray-2, 5%);
    background: $dark-gray-5;
    border-color: $dark-gray-5;
  
    strong {
      color: $white;
    }
  }

  .chart {
    background: $dark-gray-5;
    border-color: $dark-gray-5;
  }
}