@import "@/styles/mixins";

.item {
  height: 100%;
  display: block;
  padding-bottom: rem(30);

  &Inner {
    height: 100%;
    display: flex;
    padding: rem(15) 0;
    color: $text !important;
    position: relative;
    // min-height: rem(140);
    border-radius: 13px;
    position: relative;
    font-size: rem(18);
    @include transition-middle();

    @media (max-width: 820px) {
      min-height: auto;
    }

    &Icon {
      margin-right: rem(20);
      width: rem(70);
      height: rem(70);
      display: flex;
      background: $dark;
      flex-shrink: 0;
      color: $white;
      align-items: center;
      justify-content: center;
      border-radius: rem(10);
      font-weight: 900;
      font-size: rem(27);
      position: relative;
      overflow: hidden;

      &::after {
        display: block;
        content: "";
        width: rem(35);
        height: rem(25);
        background: $success;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &Title {
      color: $dark !important;
      font-size: rem(24);
      margin-bottom: rem(5);
      font-weight: 900;
      @include transition-middle();
    }

    &Active,
    &:hover {
      .itemInnerIcon {
        color: $white !important;
        background: $primary;

        &::after {
          background: $dark;
        }
      }
    }

    // &:hover {
    //   transform: scale(1.05);
    // }
  }
}
