@import "@/styles/mixins";

.stakeLink {
  color: $dark;
  border: 2px solid $dark;
  border-radius: 10px;
  display: inline-block;
  margin: 0 rem(10) rem(10) 0;
  font-weight: 700;
  padding: 0 rem(10);

  @media (max-width: $sm-max-width) {
    font-size: rem(18);
  }

  &Active {
    background: $dark;
    color: $white;

    :global(.ray__icon) {
      * {
        fill: white;
      }
    }
  }

  :global(.ray__icon) {
    position: relative;
    top: 2px;
  }
}

.addWallet {
  text-align: center;
  margin-bottom: rem(80);
  padding: rem(80) rem(20);
  background: $white;
  border-radius: 12px;

  :global(.ant-input) {
    max-width: rem(700);
  }
}

.redeem {
  display: flex;

  @media (max-width: $lg-max-width) {
    display: block;
  }

  &Qr {
    width: rem(160);
    flex-shrink: 0;
    margin-right: rem(30);

    @media (max-width: $lg-max-width) {
      margin-bottom: rem(20);
    }

    canvas {
      max-width: 100%;
    }
  }

  &Info {
    flex-grow: 1;
  }
}

// dark theme
[data-theme='dark'] {
  .addWallet {
    background: $dark-gray-6;
  }
}