@import "@/styles/mixins";

.links {
  margin-bottom: rem(10);

  &Container {
    margin-right: rem(20);
    position: relative;
    display: inline-block;

    &:hover,
    &:focus {
      .mContainer {
        transform: none;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &Link {
    margin-bottom: rem(10);
    display: inline-block;
    color: $dark;

    &Container {
      position: relative;
  
      span:first-child {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
      }
  
      span:last-child {
        opacity: 0;
        font-weight: 900;
      }
    }

    &Active {
      font-weight: 900;
      color: $primary;
    }
    
    &:hover {
      color: $primary;
    }

    &Title {
      white-space: nowrap;
    }
  }
}

.m {
  &Container {
    // width: rem(200);
    position: absolute;
    font-weight: normal;
    color: $dark;
    z-index: 20;
    top: calc(100% - 5px);
    left: rem(-20);
    padding-top: rem(5);
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.25s;
    transform: perspective(50em) rotateX(-15deg);
    transform-origin: 50% -50px;

    :global(.ray__icon) {
      position: relative;
      top: rem(3);
      padding: rem(5);
      border-radius: 20px;
      background: $pastel-1;
      margin-left: rem(-5);
    }
  }

  &Inner {
    box-shadow: 0 20px 100px -20px rgba(50, 50, 93, 0.25),
      0 20px 60px -30px rgba(0, 0, 0, 0.3),
      0 -18px 60px -10px rgba(0, 0, 0, 0.025);
    background: $white;
    padding: rem(15) rem(20) rem(10);
    border-radius: 15px;
    position: relative;
  
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50px;
      border-radius: 4px 0 0 0;
      top: -6px;
      margin: 0 0 0 -6px;
      width: 12px;
      height: 12px;
      background: $white;
      box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.02);
      transform: rotate(45deg);
    }
  }


  &Item {
    display: block;
    white-space: nowrap;
    margin-bottom: rem(5);
    position: relative;
    @include transition-middle();

    &:last-child {
      margin-bottom: rem(0);
    }

    &Active {
      font-weight: 700;
    }
  }
  
  &Block {
    display: flex;
    flex-wrap: wrap;
  }
  
  &Title {
    margin-bottom: rem(5);
  }
  
  &Description {
    font-size: rem(14);
    color: $gray-6;
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: rem(15) 0;
  height: rem(65);

  &Logo {
    display: flex;
    align-items: center;
    font-size: rem(18);
    font-weight: bold;
    color: $dark !important;

    svg {
      margin-right: rem(10);
      height: rem(30) !important;
      width: auto !important;
    }

    @media (max-width: $md-max-width) {
      height: rem(40) !important;
      font-size: rem(21);
    }
  }

  &Cardano {
    position: relative;
    top: -2px;
    svg {
      width: auto !important;
      height: rem(16);
      * {
        fill: $blue;
      }
    }
  }

  &Switch {
    svg {
      width: rem(24) !important;
      height: rem(24) !important;
    }
  }

  @media (max-width: $md-max-width) {
    &Switch {
      svg {
        width: rem(26) !important;
        height: rem(26) !important;
      }
    }
  }

  &Icon {
    height: rem(20);
    width: rem(21);
    position: relative;
    cursor: pointer;
    margin-right: rem(10);

    @media (max-width: $md-max-width) {
      &:before {
        top: rem(5) !important;
      }

      &:after {
        top: rem(14) !important;
      }
    }

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: rem(6);
      height: 2px;
      width: 100%;
      border-radius: 3px;
      background: $dark;
      @include transition-fast();
    }

    &:after {
      top: rem(13);
    }

    &:hover {
      &:after,
      &:before {
        background: $blue;
      }
    }
  }
}

.submenu {
  display: flex;
  flex-wrap: wrap;
  padding: rem(20) 0;

  &Link {
    display: flex;
    margin-right: rem(25);
    margin-bottom: rem(10);
    color: $dark;
    white-space: nowrap;

    @media (max-width: $sm-max-width) {
      border: 2px solid $dark;
      margin-right: rem(15);
      font-weight: 900;
      font-size: rem(18);
      border-radius: 20px;
      padding: 0 rem(10);
    }

    &Width {
      position: relative;

      span:first-child {
        opacity: 0;
        font-weight: 700;
      }

      span:last-child {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
      }
    }

    &:last-child {
      margin-right: rem(0);
    }

    &Active {
      color: $blue;
      font-weight: 900;

      @media (max-width: $sm-max-width) {
        font-weight: 900;
        border-color: $blue;

        svg {
          * {
            fill: $blue;
          }
        }
      }
    }
  }
}

// dark theme
[data-theme="dark"] {
  .m {
    &Container {
      :global(.ray__icon) {
        background: $dark-gray-5;
      }
    }

    &Inner {
      background: $dark-gray-4;

      &:before {
        background: $dark-gray-4;
      }
    }
  }

  .menu {
    &Logo {
      color: $white !important;
    }

    &Icon {
      &:after,
      &:before {
        background: $blue-light;
      }

      &:hover {
        &:after,
        &:before {
          background: $white;
        }
      }
    }
  }
}
