@import "@/styles/mixins";

$color1: lighten($gray-1, 5%);
$color2: darken($gray-1, 0%);

.header {
  margin-bottom: rem(80);
  position: relative;

  h4 {
    line-height: 1.4;
  }
}

.title {
  font-size: rem(48);
  margin-bottom: rem(40);
  font-weight: bold;
}

.description {
  max-width: rem(1000);

  h5 {
    line-height: 1.4;
  }
}

.content {
  position: relative;
  z-index: 2;
}

.rays {
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;

  svg {
    path:nth-child(1) {
      fill: $color1;
      animation: rayAnimation 2s ease-in-out infinite;
      animation-delay: 0s;
    }
    path:nth-child(2) {
      fill: $color1;
      animation: rayAnimation 2s ease-in-out infinite;
      animation-delay: 1.32s;
    }
    path:nth-child(3) {
      fill: $color1;
      animation: rayAnimation 2s ease-in-out infinite;
      animation-delay: 0.66s;
    }
  }
}

@keyframes rayAnimation {
  0% {
    fill: $color1;
  }
  50% {
    fill: $color2;
  }
  100% {
    fill: $color1;
  }
}