@import "@/styles/mixins";

.performance {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// dark theme
[data-theme="dark"] {
}
