@import "@/styles/mixins";

.container {
  background: $white;
  border-bottom: 1px solid $border;
  padding: rem(10) 0;

  a {
    color: $dark;

    &:hover,
    &:focus {
      color: lighten($success, 10%);
    }
  }
}
