@import "@/styles/mixins";

.licenses {
  td {
    vertical-align: middle;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}

.header {
  text-align: center;
  margin-bottom: rem(60);
}

.title {
  font-size: rem(48);
  margin-bottom: rem(40);
  font-weight: bold;
}

.description {
  max-width: rem(980);
  margin: 0 auto;
}

.linkTitle {
  font-weight: bold;
  font-size: rem(21);
}

.scheme {
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  box-shadow: $shadow-3;
  img {
    max-width: 100%;
  }
}

.apps {
  margin-bottom: rem(-15);
  background: $white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: $shadow;
  position: relative;
  z-index: 2;
  padding: rem(10);
  @include transition-slow();

  img {
    max-width: 100%;
    width: rem(760);
  }
}

.container {
  border-radius: 15px;
  text-align: center;

  &:hover {
    .apps {
      transform: scale(1.02);
    }
  }
}

.outer {
  border-radius: 15px;
  background: $success;
  padding-top: rem(15);
  margin-bottom: rem(80);
}