@import "@/styles/mixins";

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $white;
  overflow-y: auto;
}

.container {
  padding: rem(20) 0;
  margin-bottom: rem(40);
}

.menu {
  display: flex;
  align-items: center;

  &Logo {
    width: rem(250);
  }

  &Buttons {
    width: rem(250);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.logo {
  display: flex;
  align-items: center;

  svg {
    width: rem(36);
    height: rem(36);
    margin-right: rem(10);
  }

  span {
    font-weight: 900;
    font-size: rem(18);
    color: $dark;
  }
}

.switchIcon {
  height: rem(20);
  width: rem(21);
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: rem(20);
  user-select: none;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: rem(10);
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background: $dark;
    @include transition-fast();
    transform: rotate(-45deg);
  }

  &:after {
    top: rem(10);
    transform: rotate(45deg);
  }

  &:hover {
    &:after,
    &:before {
      background: $blue;
    }
  }
}

.wallets {
  position: relative;
  min-height: rem(500);

  @media (max-width: $md-max-width) {
    display: none;
  }

  img {
    position: absolute;
    right: rem(130);
    top: rem(0);
    height: rem(530);
    border-radius: rem(40);
    box-shadow: $shadow-ant;
    border: rem(8) solid $white;
    background: $white;
    transition: transform 0.3s ease-in-out, border-color 0.5s ease-in-out;

    @media (max-width: $sm-max-width) {
      transform: none !important;
      border-color: $white !important;
    }

    &:hover {
      transform: translateY(-10px);
      border-color: $dark;
      background: $dark;
    }

    &:last-child {
      right: 0;
      top: rem(-100);
    }
  }

  @media (max-width: $md-max-width) {
    margin-bottom: rem(60);
    margin-top: rem(80);
  }

  @media (max-width: $sm-max-width) {
    img {
      right: auto;
      left: 0;

      &:last-child {
        left: rem(100);
        top: rem(-100);
      }
    }
  }
}

.footer {
  &Lists {
    a {
      color: $gray-5;

      &:hover,
      &:focus {
        color: $dark;
      }
    }
  }

  &Ray {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: rem(18);
    color: $dark;

    &:hover {
      color: $blue;
    }

    svg {
      margin-right: rem(10);
      height: rem(24) !important;
      width: auto !important;
    }
  }

  &App {
    width: rem(40);
    height: rem(40);
    background: $dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 rem(10) rem(10) 0;
    border-radius: 8px;
    color: $white;
    font-size: rem(18);

    &:hover {
      background: $dark-gray-4;
      color: $white;
    }
  }
}

.dot {
  display: inline-block;
  height: rem(10);
  width: rem(10);
  border-radius: 20px;
  background: $success;
  margin-right: rem(7);
}
