@import "@/styles/mixins";

.promo {
  margin-bottom: rem(20);
  border-radius: rem(14);
  padding-top: rem(180);
  padding-bottom: rem(80);
  display: flex;
  min-height: calc(100vh - 220px);
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &Descr {
    font-weight: 700;
    margin-bottom: rem(30);
    font-size: rem(21);
  }

  &Inner {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: rem(82);
      font-weight: 900;
      max-width: rem(1280);
      margin-bottom: rem(40);
      position: relative;
      line-height: 1;

      @media (max-width: $xxl-max-width) {
        font-size: rem(72);
      }

      @media (max-width: $lg-max-width) {
        font-size: rem(52);
      }

      @media (max-width: $sm-max-width) {
        font-size: rem(52);
        line-height: 1.2;
      }
    }

    p {
      max-width: rem(980);
      color: $dark-gray-2;
      margin-bottom: rem(40);
    }
  }

  &Badge {
    border: rem(6) solid $white;
    line-height: 1;
    display: inline-block;
    border-radius: rem(14);
    padding: 0 rem(7) 0 rem(5);
    margin-left: rem(10);
    font-weight: 700;
  }

  &Soon {
    position: absolute !important;
    top: rem(-6);
    right: rem(-6);
    background: $dark;
    color: $white;
    border-radius: rem(30);
    font-size: rem(12);
    display: inline-block;
    padding: rem(4) rem(5) rem(3);
    line-height: 1;
  }
}
