@import "@/styles/mixins";

.pool {
  padding: rem(15) rem(15) rem(10);
  margin-bottom: rem(30);
  border-radius: 12px;
  position: relative;
  border: 1px solid $border;

  :global(.badge) {
    position: absolute;
    top: rem(15);
    right: rem(15);
    font-size: rem(12);
    border: 1px solid $border;
    color: $dark;
    background: none;
  }

  &Ticker {
    font-size: rem(32);
    display: block;
    margin-bottom: rem(10);
  }

  :global(.badge-success) {
    box-shadow: 0 0 0 rgba($success, 0.4);
    animation: pulse 2s infinite;

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba($success, 0.4);
      }
      70% {
        box-shadow: 0 0 0 10px rgba($success, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba($success, 0);
      }
    }
  }

  :global(.icn) {
    svg {
      height: rem(24);
    }  
  }

  :global(.ray__btn) {
    width: 100%;
    background: $success !important;
    color: $white !important;
  }

  :global(.ray__btn[disabled]) {
    border-color: rgba($white, 0.3) !important;
    color: rgba($white, 0.4) !important;
  }

  &Item {
    margin-bottom: rem(10);
  }

  &Label {
    text-transform: uppercase;
    font-size: rem(12);
    color: $gray-4;
    letter-spacing: 2px;
  }

  &Value {
    white-space: nowrap;
    font-size: rem(18);
  }
}

// dark theme
[data-theme="dark"] {
  .pool {
    border: 1px solid transparent;
    background: $dark-gray-5;
    color: $white;

    :global(.badge) {
      border: 1px solid rgba($white, .2);
      color: $white;
    }
  }  
}
