@import "@/styles/mixins";

.controls {
  display: flex;
  padding-top: rem(40);
  border-top: 1px solid $border;
}

.item {
  position: relative;
  margin-bottom: rem(60);
}

.point {
  height: rem(60);
  width: rem(60);
  background: $dark;
  color: $pastel-1;
  border-radius: 80px;
  // position: absolute;
  // top: rem(2);
  // left: rem(-4);
  margin-right: rem(20);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(36);

  @media(max-width: 480px) {
    position: static;
    margin-bottom: rem(20);
  }

  &Active {
    background: $success !important;
    color: $pastel-1;
  }
}

// dark theme
[data-theme='dark'] {
  .controls {
    border-top: 1px solid $dark-border;
  }

  .point {
    background: $dark-gray-4;
  }
  
  .line {
    background: $dark-gray-4;
  }
}