@import "@/styles/mixins";

.banner {
  background: $dark;
  color: $white;
  border-radius: 12px;
  padding: rem(70) rem(50) rem(70) 0;
  font-size: rem(20);
  position: relative;
  overflow: hidden;
  margin-bottom: rem(120);

  :global(.ray__ticker) {
    border-color: $dark-gray-3;
  }

  @media (max-width: $sm-max-width) {
    padding: rem(20) rem(10) rem(20) 0;
    margin-bottom: rem(80);
  }
}

.image {
  position: absolute;
  width: 50%;
  bottom: rem(-10);
  right: rem(-70);
}

.title {
  max-width: rem(600);

  h1 {
    color: $white;
    font-size: rem(52);
  }

  @media (max-width: $lg-max-width) {
    h1 {
      font-size: rem(48);
    }
  }

  @media (max-width: $md-max-width) {
    h1 {
      font-size: rem(42);
    }
  }
}

.content {
  max-width: rem(600);
}

.item {
  padding: rem(20) rem(20) rem(30);
  border: 1px solid transparent;
  background: $white;
  border-radius: 12px;
  display: block;
  height: 100%;
  text-align: center;
  @include transition-middle();

  &:hover {
    border-color: $primary;
  }

  &Image {
    height: rem(70);
    svg {
      width: rem(60);
    }
  }

  &Title {
    margin-bottom: rem(10);
    font-weight: 700;
  }

  &Descr {
    color: $text;
    font-size: rem(14);
  }
}

// dark theme
[data-theme="dark"] {
  .banner {
    background: $dark-gray-5;
  }
}
