@import "@/styles/mixins";

.outer {
  padding: rem(70) 0 rem(60);
  margin-bottom: rem(90);
  background: $white;
}

.item {
  height: 100%;
  display: block;
  padding-bottom: rem(30);

  &Inner {
    height: 100%;
    display: block;
    padding: rem(25) rem(30);
    border-radius: 8px;
    color: $text !important;
    font-size: rem(16);
    position: relative;
    min-height: rem(160);
    @include transition-middle();

    position: relative;
    padding-left: rem(50);

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: rem(7);
      height: 100%;
      border-radius: 20px;
      background: $primary;
      opacity: 1;
      @include transition-middle();
    }

    @media (max-width: 820px) {
      min-height: auto;
    }

    &External {
      position: absolute;
      top: rem(30);
      right: rem(27);
    }

    &Title {
      color: $dark !important;
      font-size: rem(21);
      margin-bottom: rem(10);
      font-weight: 700;
      @include transition-middle();
    }

    &Active,
    &:hover {
      background: $blue;
      color: $white !important;

      &:before {
        opacity: 0;
      }

      .itemInnerTitle {
        color: $white !important;
      }

      .itemInnerExternal {
        svg {
          * {
            fill: $white !important;
          }
        }
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
// dark theme
[data-theme="dark"] {
  .outer {
    background: $dark-gray-6;
  }

  .item {
    &Inner {
      color: $dark-gray-2 !important;
      background: $dark-gray-5;

      &Title {
        color: $white !important;
      }

      &Active,
      &:hover {
        background: $blue;
        color: $white !important;
      }
    }
  }
}
