@import "@/styles/mixins";

.item {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);

  &:hover {
    .icon {
      transform: scale(1.1);
    }
  }
}

.icon {
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  margin-right: rem(20);
  background: $pastel-1;
  border-radius: 20px;
  line-height: 84px;
  font-size: rem(38);
  text-align: center;
  color: $black;
  @include transition-middle();
}

.title {
  padding-right: rem(30);
  line-height: 1.4;
  color: $black;
  font-weight: 700;

  @media (max-width: $lg-max-width) {
    font-size: rem(18);
  }
}

// dark theme
[data-theme='dark'] {
  .features {
    border-color: darken($dark-gray-3, 15%);
  }

  .icon {
    background: darken($dark-gray-3, 15%);
    color: $white;
  }

  .title {
    color: $white;
  }
}
