@import "@/styles/mixins";

.licenses {
  td {
    vertical-align: middle;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}

.header {
  text-align: center;
  margin-bottom: rem(80);

  h4 {
    line-height: 1.4;
  }
}

.title {
  font-size: rem(48);
  margin-bottom: rem(40);
  font-weight: bold;
}

.description {
  max-width: rem(840);
  margin: 0 auto;
}

.linkTitle {
  font-weight: bold;
  font-size: rem(21);
}

.badge {
  border-radius: 5px;
  padding: 0 rem(10);
  background: $gray-1;
  color: $primary;
}
