@import "@/styles/mixins";

.supply {
  color: $black;
  font-size: rem(36);

  @media (max-width: 640px) {
    font-size: rem(28);
  }

  &Large {
    font-size: rem(92);
    line-height: 1.2;
    margin-bottom: rem(10);

    @media (max-width: 1080px) {
      font-size: rem(64);
    }

    @media (max-width: 640px) {
      font-size: rem(36);
    }
  }
}

.chart {
  margin-top: rem(30);
  padding: 0 rem(50);
  // background: $white;
  // border-left: 7px solid $blue !important;
  border-radius: 12px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(9);
    border-radius: 20px;
    background: $dark;
  }
}

// dark theme
[data-theme="dark"] {
  .supply {
    color: $white;
  }

  .chart {
    &:before {
      background: $primary;
    }
  }
}
