@import "@/styles/mixins";

.mobileMenu {
  margin-top: rem(30);
  margin-bottom: rem(30);
  padding-bottom: rem(15);
  border-bottom: 1px solid $border;

  a {
    display: inline-block;
    margin: 0 rem(20) 0 0;
    font-weight: bold;
    color: $dark;
    padding-bottom: rem(5);
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: $blue;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-101%);
      transition: transform 0.2s ease-in-out;
    }

    &.linkMobileActive,
    &:hover {
      color: $blue;

      &::before {
        transform: translateX(0%);
      }
    }
  }
}

.menu {
  margin-top: rem(30);
  margin-bottom: rem(50);
  padding-bottom: rem(15);
  border-bottom: 1px solid $border;

  a {
    display: inline-block;
    margin: 0 rem(20) 0 0;
    font-weight: bold;
    color: $dark;
    padding-bottom: rem(5);
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: $blue;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-101%);
      transition: transform 0.2s ease-in-out;
    }

    &.linkActive,
    &:hover {
      color: $blue;

      &::before {
        transform: translateX(0%);
      }
    }
  }
}

.dot {
  display: inline-block;
  height: rem(10);
  width: rem(10);
  border-radius: 20px;
  background: $success;
  margin-right: rem(8);
}
