@import "@/styles/mixins";

.menu {
  margin-bottom: rem(80);
  padding-bottom: rem(15);
  border-bottom: 1px solid $border;

  a {
    display: inline-block;
    font-weight: bold;
    color: $dark;
    margin-right: rem(10);
    padding: rem(1) rem(9);
    border-radius: rem(100);
    overflow: hidden;
    position: relative;

    // &::before {
    //   content: "";
    //   display: block;
    //   height: 3px;
    //   width: 100%;
    //   background: $blue;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   transform: translateX(-101%);
    //   transition: transform 0.2s ease-in-out;
    // }

    &.linkActive,
    &:hover {
      color: $white;
      background: $dark;

      // &::before {
      //   transform: translateX(0%);
      // }
    }
  }
}

.dot {
  display: inline-block;
  height: rem(10);
  width: rem(10);
  border-radius: 20px;
  background: $success;
  margin-right: rem(8);
}
