@import "@/styles/mixins";

.item {
  padding: rem(20) rem(20) rem(30);
  border: 1px solid $border;
  border-radius: 12px;
  display: block;
  height: 100%;
  text-align: center;

  &Image {
    height: rem(70);
    svg {
      width: rem(60);
    }
  }

  &Title {
    margin-bottom: rem(10);
    font-weight: 700;
  }

  &Descr {
    color: $text;
    font-size: rem(14);
  }
}

// dark theme
[data-theme='dark'] {
  .item {
    border: 1px solid $dark-border;

    &Image {
      svg {
        path {
          fill: $white;
        }
      }
    }

    &Descr {
      color: $dark-gray-2;
    }
  }
}