@import "@/styles/mixins";

.footer {
  padding-bottom: rem(40);
  font-size: rem(16);
  display: flex;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  font-weight: bold;
  color: $dark;
  margin-bottom: rem(5);

  img {
    height: rem(21);
    margin-right: rem(8);
  }
}

.info {
  margin-left: auto;
}

.cardano {
  margin-left: rem(5);
  height: rem(24);
  position: relative;
  top: -2px;
}

// dark theme
[data-theme='dark'] {
  .logo {
    color: $white;
  }
}