@import "@/styles/mixins";

$color1: lighten($gray-1, 5%);
$color2: darken($gray-1, 0%);

.header {
  margin-bottom: rem(80);
  position: relative;

  h4 {
    line-height: 1.4;
  }
}

.welcome {
  display: flex;
  transform: rotate(90deg);
  transform-origin: 0 0;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 600px;
  left: calc(100% + 100px);

  @media (max-width: 830px) {
    display: none;
  }

  &Icon {
    width: rem(55);
    margin-right: rem(20);

    svg {
      width: rem(55);
      height: rem(55);
    }
  }

  h2 {
    font-size: rem(28);
    font-weight: normal;
    line-height: 1;
  }
}

.title {
  font-size: rem(42);
  margin-bottom: rem(40);
  font-weight: 700;
}

.description {
  max-width: rem(1000);

  h5 {
    line-height: 1.4;
  }
}

.content {
  position: relative;
  z-index: 2;
}

// dark theme
[data-theme='dark'] {
  .welcome {
    &Icon {
      svg {
        rect, g g g {
          fill: $white;
        }
        path {
          stroke: $white;
        }
      }
    }
  }
}
