@import "@/styles/mixins";

.container {
  margin-bottom: rem(120);
  background: $dark;
}

.box {
  margin-bottom: rem(-40);
  background: $white;
  max-width: rem(980);
  border-radius: 100px;
  margin: 0 auto;
  box-shadow: $shadow;
  position: relative;
  top: rem(35);
  overflow: hidden;

  :global(.col-sm-4) {
    border-right: 1px solid $border;
  }

  :global(.col-sm-4:last-child) {
    border-color: transparent !important;
  }

  @media (max-width: $sm-max-width) {
    border-radius: rem(14);

    :global(.col-sm-4) {
      border-right: none;
      border-bottom: 1px solid $border;
    }
  }
}

.item {
  padding: rem(10) rem(30);
  margin-top: rem(5);
  text-align: center;

  &Label {
    text-transform: uppercase;
    font-size: rem(12);
    color: $gray-5;
    line-height: 1;
    margin-bottom: rem(5);
    white-space: nowrap;
  }

  &Count {
    font-size: rem(27);
    font-weight: 900;
    line-height: 1;
  }
}
