@import "@/styles/mixins";

.container {
  background: $gray-1;
  border-radius: 15px;
  padding: rem(25) rem(25) rem(5);
}

.disabled {
  opacity: 0.3;
}

.poolsList {
  margin-bottom: rem(12);
}

.performance {
  position: relative;

  :global(.row) {
    margin-left: -10px;
    margin-right: -10px;
  }

  :global([class^="col-"]) {
    padding-left: 10px;
    padding-right: 10px;
  }

  :global(.badge) {
    position: relative;
    top: -1px;
    background: $gray-3;
  }
}

.map {
  margin-top: rem(10);
  padding-top: rem(20);
  margin-bottom: rem(20);
  position: relative;

  .itemLabel {
    position: absolute;
    z-index: 2;
    left: rem(20);
    top: 0;
  }

  .img {
    position: relative;
    z-index: 1;
    max-width: rem(600);
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.item {
  margin-bottom: rem(20);
  border-radius: 8px;
  background: $gray-2;
  padding: rem(10) rem(20);
  @include transition-fast();

  &Label {
    font-size: 80%;
    text-transform: uppercase;
    color: $gray-6;
    display: block;
  }

  &Data {
    display: block;
  }

  &:hover {
    background: $gray-3;
  }
}

.relays {
  .relay:nth-child(2) {
    &:after {
      animation-delay: .2s;
    }
  }
  .relay:nth-child(3) {
    &:after {
      animation-delay: .4s;
    }
  }
  .relay:nth-child(4) {
    &:after {
      animation-delay: .6s;
    }
  }
  .relay:nth-child(5) {
    &:after {
      animation-delay: .8s;
    }
  }
  .relay:nth-child(6) {
    &:after {
      animation: relayAnimation 1s ease infinite;
      animation-delay: .8s;
    }
  }
}

.relay {
  position: absolute;
  z-index: 5;
  display: block;
  width: 17px;
  height: 17px;
  padding: 5px;
  cursor: pointer;
  
  span, &:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: $primary;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 5;
  }

  &:after {
    animation: relayAnimation 2s ease infinite;
    animation-delay: 0s;
    pointer-events: none;
    @include transition-fast();
  }

  &.isProducer {
    z-index: 6;
    &:before, &:after {
      background: $success;
    }
  }
}

.deploymentInfo {
  margin-bottom: rem(20);

  :global(.ant-alert) {
    background: $gray-2;
    border-radius: 8px;
    border: none;
  }
}

.do {
  height: rem(15);
  margin-top: rem(15);
}

.loading {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: $gray-1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  @include transition-slow();

  &Active {
    opacity: .8;
    transition: none;
  }
}

@keyframes relayAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    opacity: .3;
  }
  50% {
    transform: scale(5);
    opacity: 0;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}