@import "@/styles/mixins";

.brand {
  &Logos {
    img {
      margin: 0 rem(30) rem(30) 0;
      height: rem(70);
      max-width: 100%;
    }

    &Full {
      img {
        max-height: rem(40);
        max-width: 100%;
      }
    }
  }

  &Dark {
    margin: 0 rem(30) rem(30) 0;
  }

  &Media {
    img {
      max-width: rem(180);
      max-height: rem(180);
      margin: 0 rem(30) rem(30) 0;
    }
  }
}

// dark theme
[data-theme='dark'] {
  .brand {
    &Dark {
      background: $white;
      border-radius: 6px;
    }
  }
}
