@import "@/styles/mixins";

.wiki {
  &Link {
    display: block;
    font-size: rem(20);
    padding-bottom: rem(20);
    margin-bottom: rem(20);
    font-weight: bold;
    border-bottom: 1px solid $border;
  }
}

.brand {
  &Logos {
    margin-bottom: rem(40);

    img {
      margin: 0 rem(15) rem(15) 0;
      height: rem(70);
      max-width: 100%;
    }
  }

  &Media {
    img {
      max-width: rem(120);
      max-height: rem(120);
      margin: 0 rem(30) rem(30) 0;
    }
  }
}

// dark theme
[data-theme="dark"] {
  .brand {
    &Dark {
      background: $white;
      border-radius: 6px;
    }
  }

  .wiki {
    &Link {
      border-color: $dark-border;
    }
  }
}
