@import "@/styles/mixins";

html {
  font-size: 18px;
  @media (max-width: $lg-max-width) {
    font-size: 16px;
  }
}

body {
  font-family: $base-font-family;
  color: $text;
  overflow-x: hidden;
  position: relative;
  font-variant: normal;
  font-feature-settings: normal;
}

a {
  text-decoration: none;
  color: $blue;
  @include transition-color();
  &:hover,
  &:active,
  &:focus {
    color: $blue-light;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base-font-family;
  color: $text;
}

.ps__thumb-y {
  background: $dark-gray-4;
}

.container-fluid {
  max-width: rem(1000);
  margin: 0 auto;
}

button,
input {
  box-shadow: none !important;
  outline: none !important;
}

strong {
  font-weight: 700;

  &.bolder {
    font-weight: 900;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $dark;
  margin-bottom: rem(20);
}

h1 {
  font-size: rem(42);
}

h2 {
  font-size: rem(36);
}

h5 {
  font-size: rem(21);
}

p {
  margin-bottom: rem(20);
}

ul {
  padding-left: rem(30);

  li {
    margin-bottom: rem(8);
  }
}

sup {
  font-size: 60%;
  font-weight: normal !important;
}

svg {
  vertical-align: baseline;
}

[role="button"] {
  outline: none;
}

::placeholder {
  color: $gray-4 !important;
}

code {
  display: inline-block;
  padding: 0 rem(7);
  background: $gray-2;
  border-radius: 20px;
  font-size: 80%;
}

.cursor-pointer {
  cursor: pointer;
}

// dark theme
[data-theme='dark'] {
  body {
    background: $dark;
    color: $dark-gray-2;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  a {
    color: $blue-light;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  ::placeholder {
    color: $dark-gray-3 !important;
  }

  code {
    background: $dark-gray-3;
  }
}