@import "@/styles/mixins";

html {
  font-size: 18px;
  @media (max-width: $lg-max-width) {
    font-size: 16px;
  }
}

body {
  font-family: $base-font-family;
  color: $text;
  overflow-x: hidden;
  position: relative;
  font-variant: normal;
  font-feature-settings: normal;
}

a {
  text-decoration: none;
  color: $black;
  @include transition-color();
  &:hover,
  &:active,
  &:focus {
    color: $blue;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base-font-family;
  color: $text;
}

.ps__thumb-y {
  background: $dark-gray-4;
}

.container-fluid {
  max-width: rem(1000);
  margin: 0 auto;
}

button,
input {
  box-shadow: none !important;
  outline: none !important;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $dark;
}

h1 {
  font-size: rem(42);
}

h2 {
  font-size: rem(32);
}

svg {
  vertical-align: baseline;
}

[role="button"] {
  outline: none;
}

::placeholder {
  color: $gray-4 !important;
}

code {
  display: inline-block;
  padding: 0 rem(7);
  background: $gray-2;
  border-radius: 20px;
  font-size: 80%;
}

// dark theme
[data-theme='dark'] {
  body {
    background: $dark-2;
    color: lighten($dark-gray-2, 5%);
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  a {
    color: $blue;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  ::placeholder {
    color: $dark-gray-3 !important;
  }

  code {
    background: $dark-gray-3;
  }
}