@import "@/styles/mixins";

.z-index {
  &-5 {
    z-index: 5 !important;
  }
}

.text-small {
  font-size: 80%;
}

.text {
  &-text {
    color: $text !important;
  }
  &-muted {
    color: $gray-5 !important;
  }
  &-active {
    color: $dark !important;
  }
  &-shade {
    color: $text !important;
  }
}

.table-hover {
  tr:hover {
    td {
      background: $pastel-1;
    }
  }
}

.font-size {
  &-18 {
    font-size: rem(18);
  }
  &-21 {
    font-size: rem(21);
  }
  &-24 {
    font-size: rem(24);
  }
  &-32 {
    font-size: rem(32);
  }
}

// dark theme
[data-theme='dark'] {
  .text {
    &-active {
      color: $white !important;
    }
    &-shade {
      color: $dark-gray-2 !important;
    }
  }
}