@import "@/styles/mixins";

.ray {
  &__link {
    color: $primary;
    cursor: pointer;

    &:hover {
      color: lighten($primary, 10%);
    }

    &__icon {
      margin-left: rem(5);
      position: relative;
      top: rem(2);
    }
  }

  &__table {
    overflow: auto;
    white-space: nowrap;
  }

  &__underlined {
    border-bottom: 1px dashed $primary;
    display: inline-block;
    line-height: 1.3;
    @include transition-middle();

    &:hover {
      border-color: lighten($primary, 15%);
    }
  }

  &__block {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &__heading {
    display: block;
    position: relative;
    
    &:before {
      display: block;
      content: "";
      width: 7px;
      position: absolute;
      top: rem(8);
      bottom: rem(4);
      left: rem(-50);
      background: $black;
      border-radius: 20px;
    }

    @media (max-width: $md-max-width) {
      padding-top: rem(30);

      &:before {
        top: 0;
        left: 0;
        width: 50px;
        height: 7px;
      }
    }
  }

  &__btn {
    display: inline-block;
    padding: 0 rem(30);
    color: $white !important;
    background: linear-gradient(-155deg, $success, darken($success, 5%));
    height: rem(40);
    line-height: 2.5 !important;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 5px 10px -4px rgba(0,0,0,.2), 0 0 30px -4px rgba(0,0,0,.2);
    @include transition-middle();
    position: relative;
    overflow: hidden;
    font-size: rem(16);
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $white;
      left: 0;
      top: 0;
      opacity: 0 !important;
      transition: all .2s ease-in-out !important;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white !important;
      background: linear-gradient(-155deg, $success, darken($success, 5%));
      &::after {
        opacity: .2 !important;
      }
    }

    &__icon {
      margin-left: rem(5);
      margin-right: rem(-10);
      font-size: rem(24);
      vertical-align: sub;
    }

    &--blue {
      color: $white;
      background: $primary;
      box-shadow: none;
      &::after {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        color: $white !important;
        background: lighten($primary, 3%);
      }
    }

    &--small {
      @media (min-width: $md-min-width) {
        padding: rem(5) rem(20);
        height: rem(34);
        line-height: rem(34) !important;
      }
    }

    &[disabled] {
      transition: none !important;
      border: 1px solid $pastel-2;
      background: none !important;
      color: $gray-4 !important;
    }
  }
}

// dark theme
[data-theme='dark'] {
  .ray {
    &__heading {
      &:before {
        background: $white;
      }
    }

    &__btn {
      &[disabled] {
        border-color: $dark-gray-3 !important;
        color: $dark-gray-3 !important;
      }
    }
  }
}