@import "@/styles/mixins";

.controls {
  display: flex;
  padding-top: rem(40);
  border-top: 1px solid $border;
}

.item {
  position: relative;
  margin-bottom: rem(60);

  &Outer {
    padding-left: rem(50);
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: rem(9);
      background: $dark;
    }

    @media (max-width: $sm-max-width) {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.point {
  height: rem(60);
  width: rem(60);
  background: $dark;
  color: $pastel-1;
  border-radius: 80px;
  // position: absolute;
  // top: rem(2);
  // left: rem(-4);
  margin-right: rem(20);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(36);

  @media (max-width: 480px) {
    position: static;
    margin-bottom: rem(20);
  }

  &Active {
    background: $dark !important;
    color: $pastel-1;
  }
}

// dark theme
[data-theme="dark"] {
  .item {
    &Outer {
      &:before {
        background: $primary;
      }
    }
  }

  .controls {
    border-top: 1px solid $dark-border;
  }

  .point {
    background: $dark-gray-4;
  }

  .line {
    background: $dark-gray-4;
  }
}
